/*Estilos globales del documento*/

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'nunito'
};

.recurso {
    color:black;
    text-decoration: none;
}
